<div class="sample-container">
  <div class="slider">
    <div class="slide slide1">
      <div class="caption">
        <h2>Slide 1</h2>
        <p>Description 1</p>
      </div>
    </div>
    <div class="slide slide2">
      <div class="caption">
        <h2>Slide 1</h2>
        <p>Description 1</p>
      </div>
    </div>
    <div class="slide slide3">
      <div class="caption">
        <h2>Slide 31</h2>
        <p>Description 3</p>
      </div>
    </div>
    <div class="slide slide4">
      <div class="caption">
        <h2>Slide 4</h2>
        <p>Description 4</p>
      </div>
    </div>
    <div class="slide slide1">
      <div class="caption">
        <h2>Slide 1</h2>
        <p>Description 1</p>
      </div>
    </div>
  </div>
</div>
