.category-list-container {
  height: 658px;
  overflow-y: auto;
  .category-box {
    min-height: 74px;
    align-items: center;
    // display: flex;
    background-color: black;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
    justify-content: center;
    border-bottom-color: purple;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    cursor: pointer;
    // background-size: contain;
    // background-position: center;
    // background-repeat: no-repeat;
    .category-img {
      width: 100%;
      height: 100%;
    }
    span {
      // color: black;
      padding: 7px 0;
      display: inline-block;
    }
  }
}