.discount-row-container {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  align-items: center;
  padding: 5px;
  .item-input {
    height: 30px;
    width: 80%;
  }
  .discount-confirm {
    background-color: #0c7e0c;
  }
}

.calculator-container {
  width: 100%;
  display: flex;
  clear: both;
  .calculator-part-container {
    width: 60%;
    .cal-box {
      width: calc((100% - 30px) / 3);
      float: left;
    }
  }
  .functional-part-container {
    width: 40%;
    height: 274px;
    overflow: auto;
    .row1, .row2, .row3, .row4, .row5 {
      display: flex;
      justify-content: space-around;
      width: 100%;
      .cal-box {
        width: calc((100% - 15px) / 2);
        button {
          background-color: #44abd5;
        }
      }
    }
  }
  .row1, .row2, .row3, .row4, .row5 {
    .cal-box {
      margin: 5px;
      button {
        background-color: #333;
        width: 100%;
        min-height: 46px;
        max-height: 30px;
        word-break: break-word;
        white-space: normal;
        line-height: inherit;
        font-size: 16px;
        padding: 0;
        font-weight: normal;
        .mat-icon {
          font-size: 38px;
          height: auto;
          width: auto;
        }
      }
      .number-key {
        font-size: 25px;
      }
      .clear-button:focus, .clear-button:active {
        color: white!important;
      }
    }
  }
  .mat-button:focus, .mat-button:active {
    background-color: red!important;
  }
}
