<!-- <div class="discount-row-container">
  <input matInput class="item-input">
  <button mat-button class="discount-confirm">Submit</button>
</div> -->
<div class="calculator-container">
  <div class="calculator-part-container">
    <div class="row1">
      <div *ngFor="let item of calculatorRow" class="cal-box">
        <button (click)="addingInput(item)" [style.color]="item.color" *ngIf="item.type === 'button'" [ngClass]="item.color === 'red' ? 'number-key clear-button' : 'number-key'" mat-button>{{item.name}}</button>
        <button (click)="addingInput(item)" *ngIf="item.type === 'mat-icon'"  class="number-key" mat-button>
          <mat-icon aria-hidden="false" aria-label="Example home icon">{{item.name}}</mat-icon>
        </button>
      </div>

    </div>
    <!-- <div class="row1">
      <div class="cal-box">
        <button class="red number-key" mat-button>C</button>
      </div>
      <div class="cal-box">
        <button class="number-key" mat-button>
          <span class="dott">.</span>
        </button>
      </div>
      <div class="cal-box">
        <button class="number-key" mat-button>
          <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_left</mat-icon>
        </button>
      </div>
    </div> -->
    <!-- <div class="row2">
      <div class="cal-box">
        <button class="number-key" mat-button>7</button>
      </div>
      <div class="cal-box">
        <button class="number-key" mat-button>8</button>
      </div>
      <div class="cal-box">
        <button class="number-key" mat-button>9</button>
      </div>
    </div>
    <div class="row3">
      <div class="cal-box">
        <button class="number-key" mat-button>4</button>
      </div>
      <div class="cal-box">
        <button class="number-key" mat-button>5</button>
      </div>
      <div class="cal-box">
        <button class="number-key" mat-button>6</button>
      </div>
    </div>
    <div class="row4">
      <div class="cal-box">
        <button class="number-key" mat-button>1</button>
      </div>
      <div class="cal-box">
        <button class="number-key" mat-button>2</button>
      </div>
      <div class="cal-box">
        <button class="number-key" mat-button>3</button>
      </div>
    </div>
    <div class="row5">
      <div class="cal-box">
        <button class="number-key" mat-button>00</button>
      </div>
      <div class="cal-box">
        <button class="number-key" mat-button>0</button>
      </div>
      <div class="cal-box">
        <button class="green number-key" mat-button>X</button>
      </div>
    </div> -->
  </div>
  <div class="functional-part-container">
    <div class="row1">
      <div class="cal-box">
        <button routerLinkActive="mat-accent" mat-button>SUB TOTAL</button>
      </div>
      <div class="cal-box">
        <button mat-button>OTHER PAYMENT</button>
      </div>
    </div>
    <div class="row2">
      <div class="cal-box">
        <button mat-button>CASH</button>
      </div>
      <div class="cal-box">
        <button mat-button>VOUCHER</button>
      </div>
    </div>
    <div class="row3">
      <div class="cal-box">
        <button mat-button>REFUND</button>
      </div>
      <div class="cal-box">
        <button mat-button>OTHER PAYMENT</button>
      </div>
    </div>
    <div class="row4">
      <div class="cal-box">
        <button mat-button>DISCOUNT</button>
      </div>
      <div class="cal-box">
        <button mat-button>OTHER PAYMENT</button>
      </div>
    </div>
    <div class="row5">
      <div class="cal-box">
        <button mat-button>VIEW ORDER</button>
      </div>
      <div class="cal-box">
        <button mat-button>OTHER PAYMENT</button>
      </div>
    </div>
    <div class="row1">
      <div class="cal-box">
        <button mat-button>SUB TOTAL</button>
      </div>
      <div class="cal-box">
        <button mat-button>OTHER PAYMENT</button>
      </div>
    </div>
    <div class="row2">
      <div class="cal-box">
        <button mat-button>CASH</button>
      </div>
      <div class="cal-box">
        <button mat-button>VOUCHER</button>
      </div>
    </div>
    <div class="row3">
      <div class="cal-box">
        <button mat-button>REFUND</button>
      </div>
      <div class="cal-box">
        <button mat-button>OTHER PAYMENT</button>
      </div>
    </div>
    <div class="row4">
      <div class="cal-box">
        <button mat-button>DISCOUNT</button>
      </div>
      <div class="cal-box">
        <button mat-button>OTHER PAYMENT</button>
      </div>
    </div>
    <div class="row5">
      <div class="cal-box">
        <button mat-button>VIEW ORDER</button>
      </div>
      <div class="cal-box">
        <button mat-button>OTHER PAYMENT</button>
      </div>
    </div>
  </div>
</div>
