.product-list-container {
  .casher-waiter-container {
    background-color: #111;
    display: flex;

    .waiter-container {
      width: 50%;

      button {
        background-color: #333;
        width: 100%;
        min-height: 51px;
        max-height: 30px;
        word-break: break-word;
        white-space: normal;
        line-height: inherit;
        font-size: 13px;
      }
    }

    .casher-container {
      width: 50%;

      .date-time {
        display: flex;
        font-size: 10px;
        margin: 5px;
        justify-content: space-between;
      }

      .casher-name-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .mat-icon {
          font-size: 12px;
          height: 10px;
          color: #4be44b;
          margin-left: 5px;
        }
      }
    }
  }

  .heading {
    text-align: center;
    display: inherit;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .product-inner-container {
    display: inline-block;
    width: 100%;
    height: 341px;
    overflow: auto;
    .product-box {
      width: calc((100% - 15px) / 2);
      background-color: #111;
      color: white;
      margin-bottom: 5px;
      text-align: center;
      float: left;
      border-bottom-width: 10px;
      border-bottom-style: solid;
      border-bottom-color: purple;
      min-height: 80px;
      cursor: pointer;
      .product-box-inner {
        .item-img-cover {
          background-color: #111;
          min-height: 25px;
          .category-img {
            width: 100%;
            height: 100px;
            object-fit: cover;
          }
        }
        span {
          padding: 7px 0;
          display: inline-block;
        }
      }
    }
    .product-box:nth-child(odd) {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}