<div class="login-container">
  <div class="login-form-cover">
    <div class="login-form-container">
      <h2>IN POS</h2>
      <form>
        <!-- <div class="imgcontainer">
          <img src="img_avatar2.png" alt="Avatar" class="avatar">
        </div> -->
      
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input matInput type="text" placeholder="Enter Username" name="uname" required>
      
          <label for="psw"><b>Password</b></label>
          <input matInput type="password" placeholder="Enter Password" name="psw" required>
              
          <button routerLink="/receipt" type="submit">Login</button>
          <!-- <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label> -->
        </div>
      
        <!-- <div class="container">
          <button class="button" type="button" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div> -->
      </form>
    </div>
  </div>
</div>
