.condiment-list-container {
  .heading {
    text-align: center;
    display: inherit;
    margin-bottom: 10px;
  }
  .product-inner-container, .condiment-inner-container  {
    display: inline-block;
    width: 100%;
    .product-box, .condiment-box  {
      align-items: center;
      background-color: #ffff;
      color: #111;
      margin-bottom: 5px;
      text-align: center;
      float: left;
      border-bottom-width: 10px;
      border-bottom-style: solid;
      border-bottom-color: blue;
      display: flex;
      justify-content: center;
      cursor: pointer;
      width: calc((100% - 20px) / 3)!important;
      height: 60px!important;
      margin-left: 5px;
    }
    & :nth-child(3n) {
      margin-right: 5px;
    }
  }
}